@import 'components/navbar.css';

section{
  height: 100vh;
  margin-top: 20px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 18;
}

h1, h2 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}
